include README.md
include LICENSE
include INSTALLATION.md
include QUICKSTART.md
include PROJECT_SUMMARY.md
include ABSTRACT.md
recursive-include examples *.py
recursive-include docs *
recursive-include tests *.py
